:root {
  --bg-color: #0f172a;
  --container-color: #1e293b;
  --text-color: white;
  --btn-color: #22c55e;
  --btn-hover: #16a34a;
}

body {
  font-family: 'Arial', sans-serif;
  background: var(--bg-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  padding: 20px;
}

.container {
  background: var(--container-color);
  padding: 30px;
  border-radius: 15px;
  width: 450px;
  box-shadow: 0 0 20px #0f172a;
}

h1,h2,h3 {
  text-align: center;
  margin-bottom: 15px;
}

select, input, button {
  width: 100%;
  padding: 10px;
  margin: 8px 0 15px 0;
  border-radius: 8px;
  border: none;
}

button {
  background: var(--btn-color);
  color: var(--text-color);
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: var(--btn-hover);
}

ul {
  background: #111827;
  padding: 10px;
  border-radius: 10px;
  max-height: 200px;
  overflow-y: auto;
}

li {
  margin: 5px 0;
  padding: 5px;
  border-bottom: 1px solid #334155;
}
